h1 {text-align: center;}
h1 {font-size: 100px;}

.column {
width: 40%;
text-align: center;
}

a {font-size: 20px;}

img {
max-width: 100%;
height: auto;
display: block;
margin: auto;
}

.image-row {
display: flex;
justify-content: center; 
gap: 20px;            
flex-wrap: wrap;         
}

hr {width: 100%;}

i {
font-family: monospace;
font-size: 20px;
}

* {
box-sizing: border-box;
}

.box {
width: 33.33%;
padding: 20px;
text-align: center;
}

.clearfix {
display: flex;
justify-content: center;
}

p {font-size: 13px;}